h2 {
    color: #16c79a;
}

.aboutUs-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 750px;
    margin-top: 60px;
}

.aboutUs-container .info {
    text-align: center !important;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .aboutUs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: no-wrap;
        margin: 30px;
        max-width: 300px;
    }

    .aboutUs-container .info {
        display: flex;
        text-align: center;
        font-size: 20px;
    }
}
